@model CetBlog.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Category  - @Model.Name</h4>
    <hr />
    @foreach (var post in Model.Posts)
    {
        <dl class="row">
            <dt class="col-sm-2">
                @post.Title
            </dt>
            <dd class="col-sm-10">
              <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.Id" class="btn btn-primary"> Read </a> 
            </dd>
        </dl>

    }

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
