<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Details" asp-route-id="1">Sanat</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Details" asp-route-id="2">Bilgisayar</a>
</li>
