@model IList<Category>
@foreach (var item in Model)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories"
 asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
    </li>
}
